<%- include('partials/_header') -%>



    <%- include('partials/_menu') -%>


        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>LOGIN</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <form action="" method="">
                        <div class="mb-3" >
                            <input style="margin:15px;" type="text" class="form-control" name="username"  placeholder="Username">
                        </div>
                        <div class="mb-3" >
                            <input style="margin:15px;"  type="email" class="form-control" name="email"  placeholder="Email">
                        </div>
                        <div class="mb-3" >
                            <input  style="margin:15px;" type="password" class="form-control" name="password"  placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin-right:150px;">Submit</button>
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>







        <%- include('partials/_footer') -%>