<%- include('partials/_header') -%>



    <%- include('partials/_menu') -%>


        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>LOGIN</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div class="container p-5 mt-5">
            <form action="users/login" method="POST">

                <div class="col-md-4"></div>
                <div class="col-md-4">
                
                    <div class="row">
                        <div class="mb-3">
                            <input style="margin:15px;" type="email" class="form-control" name="email"
                                placeholder="Email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <input style="margin:15px;" type="password" class="form-control" name="password"
                                placeholder="Password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <button style="margin-right:135px;" type="submit" class="btn btn-primary pull-right"
                                style="margin-right:150px;">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </form>
        </div>







        <%- include('partials/_footer') -%>